span {
    font-family: Roboto, sans-serif;
    text-transform: none;
    font-size: 17px;
}

.main-color {
    font-family: Roboto, sans-serif;
    color: #1b252f;
}

.red-color {
    font-family: Roboto, sans-serif;
    color: #e60000;
}

.green-color {
    font-family: Roboto, sans-serif;
    color: rgb(0, 165, 58);
}

.center {
    text-align: center;
}

#box {
    border-radius: 5px;
    border: 1px solid #b3b3b3;
    background-color: #fff;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.05);
}

#box:hover {
    box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.row-border {
    border-bottom: 1px solid #b3b3b3 !important;
}
